.articleContainer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* .articleContainer{
    display: inline-block;
    border-style: solid;
    margin-top: 3%;
} */
