.articleContainer{
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10%;
    border-color: white;
}

.articleTitle{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.viewComponent{
    border: white;
    border-style: solid;
    padding: 10px;
    border-radius: 20%;
}

.viewComponent:hover{
    background-color: lightskyblue;
}

.articleImage{
    border-radius: 20%;
    max-width: 70%;
    max-height: 40%;
}