.articleContainer{
    display: flex;
    border-radius: 20px;
}

.articleImage{
    justify-content: column;
    justify-content: space-between;
    max-width: 50%;
    max-height: 50%; 
}



/* .articleContainer{
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10%;
    border-color: white;
}

.articleTitle{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.viewComponent{
    border: white;
    border-style: solid;
    padding: 10px;
    border-radius: 20%;
}

.viewComponent:hover{
    background-color: lightskyblue;
}

.articleImage{
    border-radius: 20%;
    max-width: 70%;
    max-height: 40%;
} */