.welcome{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.HomepageLink{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-style: solid;
    border-color: white;
    padding: 8px;
    border-radius: 25px;
}

.HomepageLink:hover{
    background-color: lightskyblue;
}