.topNav{
    overflow: hidden;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    height: 50px;
}

li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: left;
    padding: 10px;
    text-decoration: none;
  }
  
  li a {
    text-decoration: none;
  } 
  
  li a:hover {
    background-color: lightskyblue;
  }

  .loggedInUser{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  }