.navBarContainer{
    background-color: lightgray;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.navUnorderedList{
    list-style: none;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navList{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
